.ToggleButton {
    font-size: 1rem;
}

.toggle-option {
    padding: 10px 20px;
    background-color: rgba(35,35,35, 0.5);
    text-transform: uppercase;
}

.toggle-option.active {
    background-color: #f65261;
}

.toggle-option {
    cursor: pointer;
}

.toggle-option:first-of-type {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.toggle-option:last-of-type {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
